body {
  margin: 0;
}

.App {
  height: 100vh;
  background-color: #14142b;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  background-color: #14142b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.warn-text {
  font-size: 20px;
  color: crimson;
  border-left: 5px solid crimson;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  max-width: 90%;
  width: 720px;
  margin: 16px auto;
}

.warn-text a {
  color: crimson;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #ef3a86 30%, #7fa2f3 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #ef3a86, #7fa2f3);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.grid {
  display: grid;
  gap: 16px;
  margin: 32px auto;
  width: 1140px;
  max-width: 90%;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid a {
  color: white;
  text-decoration: none;
}

.grid h2 {
  font-size: 18px;
  margin: 10px;
}

.grid p {
  margin: 0;
}

.grid img {
  border-radius: 5px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
